<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chad.myapplication">
    <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WebviewLayoutActivity"
            android:label="@string/title_activity_webview_layout"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHE" />
            </intent-filter>
            <!--Default Activity not found 에러가 나는 경우 - 프로젝트 생성시 main activity를 지정해주지 않은 경우
            이런 에러가 날 수 있다. Run - Edit Configurations - Android App - app에서 액티비티를 지정해준다.-->
           <!-- <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>